{% extends "BlogApp/base.html" %}

{% load static %}

{% block title %}
About
{% endblock %}

{% block dinamicBody %}
<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About me</h1>
                    <span class="subheading">Know everything about page creator</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview">
                <p class="post-meta">
                    Creator: Franco Villarreal
                </p>
                <p>
                    Este proyecto fue desarrollado utilizando Python con Django para ser presentado en el curso de Programación en Python de Coderhouse. Originalmente, el grupo era de 3 integrantes pero 2 de ellos abandonaron la cursada poco tiempo antes de encarar el desarrollo del proyecto final.
                </p>
                <p>
                    Dentro del <a href='https://github.com/franconicolasvillarreal/blog-django'>repositorio de GitHub</a> se encuentra la documentación necesaria para probar la aplicación.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}