{% extends "BlogApp/base.html" %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block dinamicBody %}
<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-end mb-4">
                    <input  class="btn btn-primary text-uppercase" type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'BlogAppPosts' post.id %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.user.username }}</a>
                    on {{ post.created_at }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'BlogAppNewPost' %}">New →</a></div>
        </div>
    </div>
</div>
{% endblock %}