{% extends "BlogApp/base.html" %}

{% load static %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block dinamicBody %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">{{ post.user.username }}</a>
                            on {{ post.created_at }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.article }}
                </div>
            </div>
        </div>
    </article>
    <!-- Comments-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                <h5>Comments ({{ comments|length }})</h5>
                <!-- Divider-->
                <hr class="my-4" />

                {% for comment in comments %}
                <!-- Post preview-->
                <div class="post-preview">
                    
                    <p class="post-meta">
                        By
                        <a href="{% url 'BlogAppPosts' post.id %}">{{ comment.user.username }}</a>
                        on {{ comment.created_at }}
                    </p>
                    <p>  {{ comment.message }}</p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Comment -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h5>Leave a comment</h5>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <div class="d-flex justify-content-end mb-4">
                            <input  class="btn btn-primary text-uppercase" type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
